* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #4070f4;
  height: 100vh;
}

.container {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  width: 800px;
  margin: auto;
  width: 60%;
  /* height: 100%; */
  display: flex;
  align-items:center ;
  justify-content:start;
  flex-direction: column;
  padding: 1rem;

  row-gap: 2rem;
}

form{
  margin-top: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  width: 70%;

}

form input{
  padding: .3rem .4rem;
   outline: none;
}

#backlog input{
  display: block;
}



